:root {
    --primary-color: #b7b7b7a6;
    --font-size: 16px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Tahoma", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "sans-serif";
        font-weight: 300;
    letter-spacing: 0.5px;
    font-size:var(--font-size);
}
body {
    background-color: #383838;

}

nav {
    a {
        text-decoration: none;
        color: white;

        
    }
}
.mini-nav {
    padding: 1rem 2rem;

    height:50px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;

    
}
.mininav-leftside, .mininav-rightside {
    display: flex;
    gap: 1rem;
    a{
        color: var(--primary-color)

    }
}
.mininav-leftside > a:first-child{ 
    color: white;
}
.mininav-leftside > a:hover, .mininav-rightside > a:hover{
    color: white;
}
.main-nav{ 
    background-color: #136D51;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.main-nav-contents{
    display: flex;
    gap:2rem;

   
}
.main-nav-contents > a:first-child{
    position: relative;
}
.main-nav-contents > a:first-child:after {
    border-bottom: 3px solid yellow;
    content: "";
    height: 22px;
    width: 40px;
    color: yellow;
    position: absolute;
    top:100%;
    right:25px;
    left:25px;
    transform: translateX(-58%);
    }


.nav-search-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    z-index: 2;


}
.nav-deposit{
    display: flex;
    flex-direction: column;
    cursor: pointer;

}
#user-icon{ 
    cursor: pointer;
}
#balance {
    place-self: end;
    color: white;
    letter-spacing: 0;
    cursor: pointer;

}
aside {
    position: fixed;
    width:300px;
    height: 90dvh;
    padding-top: 2rem;
    background-color: #282828;
    overflow-y: scroll;
}
.sidebar-container {

   width: 100%;
}
.sidebar-contents {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 1rem;
    
    
}
.sidebar-contents p {
    margin-bottom: 3rem;

    
}
.sidebar-icon:hover {
background-color: #383838;}
.sidebar-contents p:last-child {
    margin-bottom: 4rem;
}
aside::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

aside::-webkit-scrollbar-track {
    background: #333333; /* Color of the track */
}

aside::-webkit-scrollbar-thumb {
    background-color: #888888; /* Color of the thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 3px solid #333333; /* Padding around the thumb */
}

/* For Firefox */
aside {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888888 #333333; /* thumb color track color */
}
.sidebar-icon {
display: flex;
padding-left: 2rem;
height:3rem;
align-items: center;
gap: 1rem;
 a {
    text-decoration: none;
    color: rgba(221, 221, 221, 0.817);
  
 }
 
}
.sidebar-icon:last-child {
    margin-bottom: 4rem;
}
.sidebar-header {
    padding-left: 2rem;
    font-size: 0.75rem;
    color: #00DEA9;
    margin-top: 1.3rem;
    font-weight: 600;
}

main {
    margin-left: 300px; /* Adjust based on the sidebar width */
    max-width: calc(100% - 300px);
    width: 100%;
}
.sportsOrTopEvents {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffff;
    cursor: pointer;
}
.sportsOrTopEvents > div:first-child {
    background-color: #00FFB6;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.advertising {
    height: 300px;
    background-color: #37463B;
    padding: 2rem;
}
.advertising-sport {
    color: white;
    font-weight: bold;

}
.advertising-kind{
    color:#37FEA8;
    font-weight: bold;
    font-size: calc(var(--font-size) * 1.5);

}
.advertisingbox-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    height:auto;
    width: 100%;
}
.ad-box1, .ad-box2 { 
    background-color: #29342C;
    width: 49.8%;
    border-radius: 5px;
    z-index: 1;
    opacity: 0.9;

}
.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time {
    text-align: center;
    color:#CCCCCC;
    padding-block: 5px;
    font-weight: 300;
    font-size: calc(var(--font-size) / 1.5);
}
.player-wrapper{
    /* display: flex;
    justify-content: space-between; */
    position: relative;

    img {
        position: absolute;
        width: 400px;
        right: 0;
        object-position: 4rem 6rem;
        top: -10rem;
        pointer-events: none;
    }
    
}
.player-wrapper::after {
    content: "Go To Coupon →";
    position: absolute;
    right: 0;
    bottom: 0.05rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.331);
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-weight: 400;
    font-size: calc(var(--font-size) / 1.3);

}
.match-container {
    display: flex;
    flex-wrap: nowrap;
}
.team1, .team2 {
 margin: 0 auto;
 width: 200px;
 text-align: center;
 color: white;
}
.team-name {
    font-weight: bold;

}
.team-between-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem
}
.team-between-container > div:first-child{
    color: #CCCC;
    font-size: calc(var(--font-size) / 1.5);
}
.team-between-container > div:nth-child(2){
    color: white
}
.team-icon {
    img{
        width: 40px;
    }
}
.odds-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin-top: 0.5rem;
    border-top: 1px solid #37463B ;
    color: white;
    
}
.odds-container > div, span {
font-size: calc(var(--font-size) / 1.3)

}
.odds-container > * > span {
    color: #ffdd00;
    
}

.inplay-header {
    display: flex;
    justify-content: space-between;
    color:#37FEA8;
    padding: 2rem 2rem 1rem 2rem;
}
.inplay-header > p:first-child{
  font-weight: bold;  
}
.inplay-header > p:nth-child(2){
font-size: calc(var(--font-size) / 1.4);
color:#37feda;
}
.inplay-sport{
    display: flex;
    padding: 1rem 2rem;
    background-color: #4C554D;

}
.inplay-sport > * > * {
    color: white;
    font-weight: 400;
}
.grow-container {
    flex: 1
}
.symbols{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.livematch-container {
    display: flex;
    padding: 1rem 2rem;

}
.live-left, .live-right {
    flex: 1
}
.live-right {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #4C554D;
    align-items: center;
}
.live-right > div {
    color: #ffdd00;
}
.live-teams-wrapper {
    color: rgba(255, 255, 255, 0.852);
    background-color: #383838;
}
.live-team1 {
    margin-bottom: 5px;
}
.live-left{ 
    display: flex;
    justify-content: space-between;
    margin-right: 1rem
}
.left-score {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; /* Center items horizontally */
}
.score-up, .score-down {
    display: flex;
    gap: 5px;
    margin-top: 0.2rem;
    
}
.score-up > div , .score-down > div {
    color: white;
    font-weight: bold;
    font-size: calc(var(--font-size) / 1.1);
}

.parenthesis {
 font-weight: lighter !important;
}
.details {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    align-items: center;
}
.details > div {
    font-size: calc(var(--font-size) / 1.5);
    color: rgba(255, 255, 255, 0.684);
    font-weight: 100;

}
/*  */